<div class="main-table">
  <div class="row">
    <div class="col-lg-12">
      <a href="#" class="btn btn-success pull-right">Add</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table">
        <caption>Current active searches</caption>
        <thead>
          <tr>
            <th>#</th>
            <th>id</th>
            <th>Initiated</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <th>123423</th>
            <th>12/12/12</th>
            <th>Yes</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
